<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54132124012-pu30m1fk146du2qncrm99jvnsaqfl6rp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54132124012-pu30m1fk146du2qncrm99jvnsaqfl6rp</string>
	<key>API_KEY</key>
	<string>AIzaSyDHzA_2-55774ZumX7sJHq9kKDlf1TSwe4</string>
	<key>GCM_SENDER_ID</key>
	<string>54132124012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.iminfintech</string>
	<key>PROJECT_ID</key>
	<string>imin-3de74</string>
	<key>STORAGE_BUCKET</key>
	<string>imin-3de74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54132124012:ios:a2c9c5c82e47c38cacab49</string>
</dict>
</plist>